// Primary colors
$primary-50: rgba(250, 248, 237, 1);
$primary-100: rgba(247, 244, 223, 1);
$primary-200: rgba(232, 224, 174, 1);
$primary-300: rgba(219, 208, 132, 1);
$primary-400: rgba(194, 176, 58, 1);
$primary-500: rgba(165, 143, 0, 1);
$primary-600: rgba(150, 130, 0, 1);
$primary-700: rgba(125, 108, 0, 1);
$primary-800: rgba(99, 86, 0, 1);
$primary-900: rgba(74, 64, 0, 1);
$primary-950: rgba(48, 42, 0, 1);

// Neutral colors
$neutral-50: rgba(250, 250, 250, 1);
$neutral-100: rgba(242, 242, 242, 1);
$neutral-200: rgba(224, 224, 224, 1);
$neutral-300: rgba(204, 204, 204, 1);
$neutral-400: rgba(166, 166, 166, 1);
$neutral-500: rgba(127, 127, 127, 1);
$neutral-600: rgba(115, 103, 103, 1);
$neutral-700: rgba(69, 65, 65, 1);
$neutral-800: rgba(51, 51, 51, 1);
$neutral-900: rgba(30, 30, 30, 1);
$neutral-950: rgba(20, 18, 18, 1);

// Error colors
$error-200: rgba(255, 233, 219, 1);
$error-500: rgba(255, 107, 107, 1);
$error-800: rgba(153, 38, 38, 1);

// Warning colors
$warning-200: rgba(255, 241, 191, 1);
$warning-500: rgba(255, 165, 0, 1);
$warning-800: rgba(153, 79, 0, 1);

// Info colors
$info-200: rgba(191, 243, 255, 1);
$info-500: rgba(0, 178, 255, 1);
$info-800: rgba(0, 87, 153, 1);
