// Effect styles
$static-elevation-low: 0px 1px 8px rgba(0, 0, 0, 0.1);
$static-elevation-medium: 0px 4px 20px rgba(0, 0, 0, 0.1);
$static-elevation-high: 0px 16px 40px rgba(17, 17, 17, 0.15), 0px 1px 8px rgba(17, 17, 17, 0.1);

$interactive-primary-focus: 0px 0px 0px rgba(235, 238, 255, 1);
$interactive-neutral-focus: 0px 0px 0px rgba(242, 240, 244, 1);
$interactive-danger-focus: 0px 0px 0px rgba(255, 238, 235, 1);
