// Effect styles
$static-elevation-low: 0rem 0.0625rem 0.5rem rgba(0, 0, 0, 0.1); /* 0px 1px 8px -> 0rem 0.0625rem 0.5rem */
$static-elevation-medium: 0rem 0.25rem 1.25rem rgba(0, 0, 0, 0.1); /* 0px 4px 20px -> 0rem 0.25rem 1.25rem */
$static-elevation-high: 0rem 1rem 2.5rem rgba(17, 17, 17, 0.15), 0rem 0.0625rem 0.5rem rgba(17, 17, 17, 0.1); /* 0px 16px 40px and 0px 1px 8px -> 0rem 1rem 2.5rem, 0rem 0.0625rem 0.5rem */

$interactive-primary-focus: 0rem 0rem 0rem rgba(235, 238, 255, 1); /* No conversion needed for 0px */
$interactive-neutral-focus: 0rem 0rem 0rem rgba(242, 240, 244, 1); /* No conversion needed for 0px */
$interactive-danger-focus: 0rem 0rem 0rem rgba(255, 238, 235, 1); /* No conversion needed for 0px */
