// Font Sizes
$font-size-h1-desktop: 6rem; /* 96px -> 6rem */
$font-size-h1-tablet: 3.75rem; /* 60px -> 3.75rem */
$font-size-h1-mobile: 2rem; /* 32px -> 2rem */

$font-size-h2-desktop: 4rem; /* 64px -> 4rem */
$font-size-h2-tablet: 3rem; /* 48px -> 3rem */
$font-size-h2-mobile: 1.75rem; /* 28px -> 1.75rem */

$font-size-h3-desktop: 3rem; /* 48px -> 3rem */
$font-size-h3-tablet: 2.5rem; /* 40px -> 2.5rem */
$font-size-h3-mobile: 1.625rem; /* 26px -> 1.625rem */

$font-size-h4-desktop: 2.25rem; /* 36px -> 2.25rem */
$font-size-h4-tablet: 2rem; /* 32px -> 2rem */
$font-size-h4-mobile: 1.5rem; /* 24px -> 1.5rem */

$font-size-display-large-desktop: 1.6875rem; /* 27px -> 1.6875rem */
$font-size-display-large-tablet: 1.5rem; /* 24px -> 1.5rem */
$font-size-display-large-mobile: 1.25rem; /* 20px -> 1.25rem */

$font-size-paragraph-large-desktop: 1.25rem; /* 20px -> 1.25rem */
$font-size-paragraph-large-tablet: 1.25rem; /* 20px -> 1.25rem */
$font-size-paragraph-large-mobile: 1.125rem; /* 18px -> 1.125rem */

$font-size-paragraph: 1rem; /* 16px -> 1rem */ // Same for all modes

$font-size-caption-desktop: 0.875rem; /* 14px -> 0.875rem */
$font-size-caption-tablet: 0.75rem; /* 12px -> 0.75rem */
$font-size-caption-mobile: 0.75rem; /* 12px -> 0.75rem */

// Font Size Classes

// H1
.uxup-fs-h1{
    font-family: $font-heading;
    font-size: $font-size-h1-desktop;
    line-height: 1;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-h1-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-h1-mobile;
    }
}
// H2
.uxup-fs-h2{
    font-family: $font-heading;
    font-size: $font-size-h2-desktop;
    line-height: 1;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-h2-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-h2-tablet;
    }
}
// H3
.uxup-fs-h3{
    font-family: $font-heading;
    line-height: 1;
    font-size: $font-size-h3-desktop;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-h3-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-h3-mobile;
    }
}
// H4
.uxup-fs-h4{
    font-family: $font-heading;
    line-height: 1;
    font-size: $font-size-h4-desktop;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-h4-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-h4-mobile;
    }
}
// Display Large
.uxup-fs-display-large{
    font-family: $font-paragraph;
    font-size: $font-size-display-large-desktop;
    line-height: 1.25;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-display-large-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-display-large-mobile;
    }
}

// Paragraph Large
.uxup-fs-paragraph-large{
    font-family: $font-paragraph;
    font-size: $font-size-paragraph-large-desktop;
    line-height: 1.5;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-paragraph-large-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-paragraph-large-mobile;
    }
}
// Paragraph
.uxup-fs-paragraph { 
    font-family: $font-paragraph;
    font-size: $font-size-paragraph; 
    line-height: 1.5;
}

// Caption
.uxup-fs-caption-large{
    font-family: $font-paragraph;
    font-size: $font-size-caption-desktop;
    line-height: 1.5;
    @media screen and (max-width: 64rem) { /* 1024px -> 64rem */
        font-size: $font-size-caption-tablet;
    }
    @media screen and (max-width: 45.5rem) { /* 728px -> 45.5rem */
        font-size: $font-size-caption-mobile;
    }
}