// Font Sizes
$font-size-h1-desktop: 80px;
$font-size-h1-tablet: 60px;
$font-size-h1-mobile: 32px;

$font-size-h2-desktop: 64px;
$font-size-h2-tablet: 48px;
$font-size-h2-mobile: 28px;

$font-size-h3-desktop: 48px;
$font-size-h3-tablet: 40px;
$font-size-h3-mobile: 26px;

$font-size-h4-desktop: 36px;
$font-size-h4-tablet: 32px;
$font-size-h4-mobile: 24px;

$font-size-display-large-desktop: 27px;
$font-size-display-large-tablet: 24px;
$font-size-display-large-mobile: 20px;

$font-size-paragraph-large-desktop: 20px;
$font-size-paragraph-large-tablet: 20px;
$font-size-paragraph-large-mobile: 18px;

$font-size-paragraph: 16px; // Same for all modes

$font-size-caption-desktop: 14px;
$font-size-caption-tablet: 12px;
$font-size-caption-mobile: 12px;
