// Import Google Fonts
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url('/fonts/Raleway-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url('/fonts/Raleway-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url('/fonts/Raleway-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('/fonts/Raleway-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: url('/fonts/Raleway-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  src: url('/fonts/PTSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  src: url('/fonts/PTSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/PTSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/PTSans-BoldItalic.woff2') format('woff2');
}
   
// Fonts
$font-heading: "Raleway"; // Based on the mode (Arabic/English)
$font-paragraph: "PT Sans"; // Same for both Arabic and English
