.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(calc(-100% * var(--current-slide, 0) / 2)); // Slide by 1 element
  }

  .slide {
    min-width: 40%;
    display: flex;
    overflow: hidden;
    background-color: $neutral-900;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    border-radius: 1rem;
    margin: 0.3rem;

    min-height: 24rem;
    max-height: 24rem;

    .achievement-image {
      width: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
    }

    .achievement-info {
      color: #f5f5f5;

      h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #bbb;
      }
    }
  }

  /* Left and Right Gradient Overlays */
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2.5rem; /* Adjust width as necessary for desired gradient length */
    height: 100%;
    z-index: 1;
  }

  &::before {
    left: 0;
    z-index: 3;
    background: linear-gradient(to right, rgba(20, 18, 18, 1), transparent);
    @media screen and (max-width: 728px) {
      display: none;
    }
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, rgba(20, 18, 18, 1), transparent);
    @media screen and (max-width: 728px) {
      display: none;
    }
  }
}
/* Navigation Arrow Buttons */
.position-relative .arrow {
  transform: translateY(-50%);
  background-color: #333;
  border: none;
  color: white;
  font-size: 2rem;
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  z-index: 1000;
  transition: background-color 0.3s;
}

.position-relative .arrow:hover {
  background-color: #444;
}

.position-relative .left-arrow {
  left: 1rem;
}

.position-relative .right-arrow {
  left: 4rem;
  margin-left: 1rem;
}

@media screen and (max-width: 728px) {
  .position-relative .arrow {
    display: none;
  }
  .slide{
    width: 80vw;
  }
}
