.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .carousel {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: flex-start;
  }
  
  .carousel-slide {
    min-width: 18.75rem; /* 300px -> 18.75rem */
    margin: 0 0.625rem; /* 10px -> 0.625rem */
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem; /* 12px -> 0.75rem */
  
    img {
      width: 100%;
      height: auto;
      transition: transform 0.5s ease-in-out;
      object-fit: cover;
    }
  
    &:hover img {
      transform: scale(1.1);
    }
  }
  