.uxup-section {
    background-color: $neutral-900;
    border-radius: 1rem;
    padding: 1rem;
}

.project-value {
    align-self: stretch;
    text-align: center;
    line-height: 5rem;
    animation: countAnimation 1s ease-in-out;
  }
  
  @keyframes countAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }