.uxup-bg-herobanner {
    background: url(../../../public/hero-banner/uxup-hero-banner.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    padding: 8rem 0 12rem 0 !important;
}