// styles/global.scss
// Import Bootstrap's components
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import 'tokens/colors';
@import 'tokens/fonts';
@import 'tokens/fontSizes';
@import 'tokens/effects';

@import 'component/carousel';
@import 'component/uxup-hero-banner';
@import 'component/designInspiration';
@import 'component/achievements';
@import 'component/projectscomponent';

@import 'component/header';
@import 'component/footer';
@import 'component/contact';

// Your custom SCSS styles can go below

:root {
  --background: #141212; // Use the actual color value from $neutral-950
  --foreground: #1F1F1F; // Use the actual color value from $neutral-900
}

// animations page
.fade-in-section {
  opacity: 0;
  transform: scale(0.9); // Start with a smaller scale
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
  opacity: 1;
  transform: scale(1); // Zooms to normal size
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #141212; // Same as $neutral-950
    --foreground: #1F1F1F; // Same as $neutral-900
  }
}

html,
body {
  max-width: 100vw;
  height: 100%;
  // background: linear-gradient(45deg, var(--background), var(--foreground)); // Use custom properties
  background: linear-gradient(180deg, #141212, #141212 9.25%, #1f1f1f 29%, #191818 62%, #141212 78%);
  color: var(--foreground);
  font-family: $font-heading, $font-paragraph;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  line-height: normal;
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .button {
    height: 100%;
    position: relative;
    border-radius: 72px;
    /* Large rounded corners */
    border: 1px solid $primary-600;
    /* Border color */
    box-sizing: border-box;
    /* Include padding in width/height calculation */
    width: -moz-fit-content; /* For Firefox */
    width: fit-content; /* For other browsers */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    /* Button padding */
    text-align: left;
    font-size: $font-size-paragraph;
    font-weight: 600;
    /* Bold text */
    color: var(--text-100);
    /* Text color */
    background-color: transparent;
    /* No background by default */
  
    /* Transition for smooth hover effects */
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &.primary {
      background-color: $primary-400;
      /* Primary state when navbar is scrolled */
      color: $text-950;
      /* Darker text in primary state */
    }
  
    &:hover {
      background-color: $primary-400;
      /* Change background on hover when not scrolled */
      color: $text-950;
      /* Text color stays dark */
    }
  
    &.primary:hover {
      background-color: $primary-600;
      /* Darker background on hover in primary state */
    }
  }
  .text-gradient {
    background: linear-gradient(272deg, #635371 -14.22%, #EDEDF2 50.45%, #635371 116.9%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Fallback for browsers that don't support background-clip */  
    min-height: 5rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}